
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: poppins;
    background-color: #A594F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: flex; 
    background: #CDC1FF;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
}

.birthday-image {
    width: 40%; 
    height: auto;
    border-radius: 10px;
    margin-right: 20px; 
}

.text-container {
    width: auto;
    text-align: justify;
}

h1 {
    color: #F5EFFF;
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow:
    3px 3px 0 #A594F9,
  -1px -1px 0 #A594F9,  
   1px -1px 0 #A594F9,
   -1px 1px 0 #A594F9,
    1px 1px 0 #A594F9;
}


p {
    color: #F5EFFF;
    line-height: 1.6;
    margin-bottom: 10px;
    text-shadow:
    3px 3px 0 #A594F9,
  -1px -1px 0 #A594F9,  
   1px -1px 0 #A594F9,
   -1px 1px 0 #A594F9,
    1px 1px 0 #A594F9;
}

.confetti {

    width: 200px; 
    margin-left: auto;
    display: block; 
}


.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 70%;
    background: url('tambahan.png') no-repeat center;
    background-size: cover; 
    opacity: 0.3;
    z-index: -1; 

}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; 
    height: 70%;
    background: url('tambahan.png') no-repeat center;
    background-size: cover; 
    opacity: 0.3; 
    z-index: -1; 
}